:root{
    --color1:#C1EB83;
    --color2:#9BB1EB;
    --color3:#1d2e38;
    --colo4:white;
    --fontM:1.6rem;
    --fontMT:2rem;
    --fontG:2.5rem;
    --font-logo: 'Josefin Sans', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
html{
    font-size: 52.6%;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    border: .2rem solid var(--color3);
}
.header-contenedor{
    display: flex;
    flex-direction: row;
    width: 85%;
    height: auto;
    align-items: center;
    justify-content: space-between
}
h1{
    font-family: var(--font-logo);
    font-size: 2.8rem;
}
.contenedor-img__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
.menu{
    width: 20px;
    height: 20px;
  
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
article{
    width: 90%;
    height: auto;
    box-shadow: -2px 12px 10px -10px rgba(0,0,0,0.75);
    margin: 3rem 0;
    border: 1px solid var(--color3);
    padding:1rem;
    align-items: center;
}
h2{
    font-size: var(--fontG);
    margin: 1.5rem 0;
    text-align: center;
}
.article-reseña{
    display: flex;
    flex-direction: column;
    background-color: var(--color1);
}

.article-reseña > a {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: var(--fontM);
    text-align: justify;
    color: var(--color3);
    align-items: center
}
.article-reseña  img{
    width: 280px;
    height: 280px;
    border-radius: .5rem;
    margin: 1rem 0;
}
.article-reseña p{
    width: 90%;
    padding-left: 1.5rem;
    font-size: var(--fontMT);
    margin-top: 2rem;
    text-align: justify;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color3);
    height: 6rem;
    color: white;
}
